body{
  font:1em Papyrus;
}

a{
	text-decoration:none;
}

a, a:visited{
	color: #000000;
}

a:hover {
	color: #912745;
}


#home{
	float: left;
	border-top-style:none;
	border-right-style:solid;
	border-bottom-style:none;
	border-left-style:solid;
	border-color:white;
	border-width:10px;
	box-shadow: 0px 10px 0px 10px #FC7CA9;
	margin: -75px 0px 0px 0px;
	background-color:#FFD1EC;
	width:200px;
	height: 1000px;
	position: static;
}



nav li{
	font: 1em Papyrus;
	font-size:100%;
	margin-left:0.2em;
	list-style:none;
	list-style-position:inside;
	margin:0px 0px 0px -30px;
	padding: 15px;
}	

nav {
	padding: 0px 0px -10px -10px;
}

#logo{
	margin: 30px 0px 0px -30px;
}


#content{
	text-align:center;
	position: relative;
	float: center;
	left: 30px;
	top: -40px;

	/*margin: -100px;*/
	/*width:650px;*/
	/*height:900px;*/
	/*position:absolute;*/
	/*padding-left:500px;*/
}

#stuff{
	margin: -60px 40px 0px 0px;
}

em{
	font: 0.3em "Papyrus";
}

.title{
	font-size: 550%;
	font-family: 'Scriptina Pro';
}

src: url('Scriptina Pro.otf');

.day{
	font:'Papyrus';
}

	
